/*lichtblauw: #3dbfc4;
  donker blauw: #279da1;
  bruin #887920;
  donkerbruin: #72651B
  lichtbruin: #a89b4b
*/

body {
  background-image: url('../assets/so-white.png');
  font-family: 'Nunito Sans', sans-serif;
}

a {
  color: black;
}

a:hover {
  color: #887920;
  font-weight: bold;
  text-decoration: none;
}

.fa-facebook-square {
  transition: transform 0.2s;
  cursor: pointer;
}

.fa-facebook-square:hover {
  transform: scale(1.5);
}

/* navbar */
.navbar {
  background-color: #a89b4b;
}
.navbar-nav {
  margin-left: auto;
}

.nav-item {
  color: white;
}

.nav-item:hover {
  font-weight: bolder;
}

.dropdown-menu {
  background-color: #a89b4b;
  border-width: 1px;
  border-color: whitesmoke;
}
.dropdown-item:hover {
  color: #a89b4b;
}
.dropdown-item:active {
  background-color: #a89b4b;
}

.active {
  font-weight: bold;
}

/*
li {
  float: left;
  position: relative;
  padding: 10px 20px;
  overflow: hidden;
}

li::after {
  background-color: rgb(255, 255, 255);
  content: '';
  width: 0;
  height: 3px;
  left: 0;
  bottom: 0;
  transition: 0.35s ease 0s;
  position: absolute;
}

li:hover::after {
  width: 100%;
}
*/

/* header */
.header {
  background-color: #3dbfc4;
}

.logo_trans {
  display: flex;
}

/*buttons */
.btn {
  background-color: #3dbfc4;
  transition: transform 0.3s;
  border: none;
}
.btn:hover {
  background-color: #279da1;
  transform: scale(1.05);
}

/* headings */
h1,
h2,
h3,
h4,
h5 {
  color: #887920;
}
/* homepage */
.profielfoto {
  border-radius: 30%;
  max-width: 100%;
}
.over_mezelf_container {
  padding: 3rem;
}
/*doelgroep */
.carousel_container {
  height: 2rem;
  margin-bottom: 30em;
}

.meebrengen_container {
  margin-top: 2em;
}
.carousel {
  margin-left: -15px;
  margin-right: -15px;
}
.carousel img {
  width: auto;
  height: 700px;
  max-height: 700px;
}

.carousel_volgende {
  size: 500px;
}
.doelgroep {
  /*
  background: rgba(82, 82, 82, 0.7);
  margin-top: 2rem;
  padding: 2rem;
  */
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 3rem;
}

.doelgroep_h1 {
  padding: 0px;
}

.doelgroep_tekst {
  font-weight: normal;
}

.quote {
  font-style: italic;
  font-weight: bolder;
  text-shadow: 3px 4px 7px rgba(236, 234, 226, 0.8);
}

/* terugbetaling */
.btn_contact_container {
  align-items: center;
  text-align: center;
}

.btn_contact {
  background-color: #a89b4b;
  margin: 1.1rem;
  padding: 1.1rem;
}

.btn_contact:hover {
  background-color: #a89b4b;
}

/* contact */
.contact_wrap {
  display: flex;
  padding: 1.1rem;
}
.contact_container {
  background-color: #279da1;
  padding: 1.1rem;
}

.contact_quote {
  font-style: italic;
  font-weight: lighter;
}

/* behandelingen */

/* verwijzing */
.verwijzing {
  margin: auto;
  margin-top: 2em;
}

.page-item.active {
  font-weight: bold;
}

/* voetverzorging */
.behandeling {
  display: flex;
}

.behandeling_omgekeerd {
  display: flex;
  flex-direction: row-reverse;
}
.behandeling_container {
  padding: 1em;
  border: 2px solid #a89b4b;
  border-radius: 10px;
  margin: 5px;
}

/* footer  */
#footer {
  margin-top: 4rem;
  background-color: #a89b4b;
  margin-bottom: 0px;
}

.footerheadings {
  color: rgb(88, 80, 33);
  margin-top: 2rem;
  text-shadow: 1px 2px 2px rgba(255, 254, 254, 0.5);
}

.vanbyte_footer {
  color: rgb(88, 80, 33);
  text-align: center;
}

/* zolen */
.accordeon_item {
  color: #887920;
  background-color: white;
}
.accordeon_item:hover {
  background-color: white;
  font-weight: bold;
  color: #887920;
  text-decoration: none;
}
/* springs */
.hier {
  font-weight: bolder;
}
